*.class
*.log

sbt-tls-crossproject-master/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
.idea/*
.idea_modules
.ensime
.ensime_cache
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
.*.swp
TAGS
\#*#
*~
.#*
