language: scala

sudo: required

dist: trusty

scala:
  - 2.10.6
  - 2.11.8
  - 2.12.1

jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.nvm

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

before_script:
  - wget -O master.zip https://github.com/typelevel/sbt-tls-crossproject/archive/master.zip
  - unzip master.zip
  - rm master.zip
  - cd sbt-tls-crossproject-master
  - sbt publishLocal
  - cd ..

script:
  - sbt test
